<div class="container-fluid">
	<div class="row">
		<div class="col-xs-7 col-xs-offset-1">
			<% @posts.each do |post| %>
				<div class="col-xs-12" id="post">
					<% movie = OMDB.id(url_edit(post.imdb_url)) %>
					<div class="col-xs-2" id="imagen">
						<%= link_to image_tag(movie.poster , height: '223px', width: '95%'), post, class:"poster" %>
					</div>
					<div class="col-xs-8" id="body">
						<h1><%= link_to post.title, post, class:"title" %></h1>
						<p><%= post.description[0..250]+"..." %></p>
						<p id="footer">Publicado por <%=  post.user.username %></p>					
					</div>
					<div class="col-xs-2" id="rat-but">

						<h2 class="text-right"><%= fa_icon "star", class:"star" %> <%= movie.imdb_rating %></h2>

						<% if current_user == post.user %>
							<div class="userButton">
								<%= link_to (fa_icon "pencil"),edit_post_path(post) , class:"edit" %>
								<%= link_to (fa_icon "trash-o"), post, :method => :delete, class:"delete" %>
							</div>
						<% end %>	
					</div>					
				</div>
			<% end %>
		</div>

		<div class="col-xs-2 col-xs-offset-1" id="top">
			<h2 class="text-center">Top 3</h2>

			<% rating_top(@posts)[0..2].each do |post| %>
				<div class="top3">
					
					<div class="col-xs-9" id="top3-body">
						<p class="text-center" ><%= Post.find(post[:id]).title %></p>
						<p class="text-center" id="rating"><%= fa_icon "star", class:"star" %> <%= post[:rating] %></p>
					</div>

					<div class="col-xs-3" id="top3-poster">
						<div class="text-right">
							<%= image_tag post[:poster], height: '75px', width:"auto" %>
						</div>
						
					</div>
				</div>
			<% end %>
		</div>
	</div>	
</div>