<% movie = OMDB.id(url_edit(@post.imdb_url)) %>
<div class="mensajes">
  <%= render 'layouts/messages' %>
</div>
<div class="container-fluid" id="showpart" >
	<div class="back">
		<%= link_to (fa_icon "chevron-circle-left"), posts_path, class:"ar-back" %>
	</div>

	<% if current_user == @post.user %>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-5" id="edit-delete">
				<div class="text-center">
					<form class="form-inline">
						<a ><%= link_to (fa_icon "pencil", text: "Editar"), edit_post_path(@post), class:"btn btn-warning" %></a> 
						<a><%= link_to (fa_icon "trash-o", text: "Eliminar"), @post, :method => :delete, class:"btn btn-danger", data: {confirm: "Are you sure?"} %></a> 
					</form>
				</div>
			</div>
		</div>
	<% end %>

	<div class="row">
		<div class="col-xs-7 col-xs-offset-1" id="show">
			<div class="row">
				<div class="col-xs-5" id="poster">
					<%= image_tag movie.poster.sub("SX300","SX900"), width: '100%' %>
				</div>
				<div class="col-xs-7">
					<h1 class="text-center"><%= @post.title %></h1>
					<p class="text-center"><%= movie.genre %></p>
					<hr>
					<div class="text-center" id="stars">
						<% cont = movie.imdb_rating.to_f  %>
						<% (1..10).each do %>	
							<% if cont > 0  %>
								<% if cont > 1 || cont == 0 %>
									<%= fa_icon "star", class:"star" %> 
								<% else %>
									<%= fa_icon "star-half-o", class:"star" %> 
								<% end %>			
							<% else %>
								<%= fa_icon "star-o", class:"no-star" %> 
							<% end %>
							<% cont -=1 %>
						<% end %>						
					</div>

					<hr>
					<p><%= markdown(@post.description) %></p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12" id="video">
					<% trailer = "https://www.youtube.com/embed/#{url_video(url_edit(@post.imdb_url))}" %>
					<iframe  width="100%" height="600px" src="<%= trailer %>" frameborder="0" allowfullscreen></iframe>		
				</div>					
			</div>		
		</div>
		<div class="col-xs-3" id="comments">
			<% if @post.comments == [] %>
				<div class="text-center" id="body-comments">
					<h5>No hay Comentarios, se el Primero en Comentar!</h5>
				</div>
			<% else %>
				<% @post.comments.each do |comentario| %>
					<div class="col-xs-12" id="body-comments">			
						<div>
							<p class="body"><%= comentario.body %></p>
							<p class="name">Publicado por <%= comentario.user.username %> hace <%= time_ago_in_words(comentario.created_at) %></p>
							<% if comentario.user == current_user %>
								<%= link_to (fa_icon "trash-o"), [comentario.post, comentario], :method => :delete, class:"delete" %>
							<% end %>
						</div>						
					</div>
				<% end %>
			<% end %>
			<% if user_signed_in? %>
				<%= form_for [@post, @post.comments.new] do |com| %>
					<div class="form-group">
						<%= com.text_area :body, rows:"3", class: "form-control", placeholder: "Agrega tu Comentario" %>
					</div>
					<div class="text-right"><%= com.submit "Comentar", class:"btn" %></div>		
				<% end %>
			<% end %>
		</div>
	</div>
</div>